.UserCard{
  background-color: rgb(168, 231, 59);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
#image{
  width: 80px;
  height: 80px;
  border-radius: 50%;   /* makes it circle */
  object-fit: cover;    /* image fit properly */
}
